name: Trigger run                       # Name of the workflow
run-name: Run by ${{ github.actor }}    # Show who triggered the run

on:
  schedule:
    - cron: '0 */6 * * *'               # Run every 6 hours (UTC)
  workflow_dispatch:                     # Allow manual trigger from GitHub UI
  push:
    branches:
      - github-workflow                             # Trigger workflow on push to main branch

jobs:
  python-job:                            # Name of the job
    runs-on: ubuntu-latest               # Use latest Ubuntu runner
    defaults:
      run:
        working-directory: src
    timeout-minutes: 10                  # Stop the job if it runs longer than 10 minutes

    env:  # Set secrets as environment variables
      API_KEY: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      DB_PASSWORD: ${{ secrets.CHAT_ID }}


    steps:
      - name: Checkout repository
        uses: actions/checkout@v4       # Clone the repository to the runner

      - name: Set up Python
        uses: actions/setup-python@v5   # Install Python
        with:
          python-version: '3.13'        # Python version (ensure your version is available!)
          cache: 'pip'                  # Cache pip dependencies for faster installs

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  # Upgrade pip to latest
          pip install -r requirements.txt      # Install dependencies from requirements.txt

      - name: Run Python script
        run: |
          python src/main.py                # Run your Python script located in src/main.py
